DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mfe_dashboard?schema=public"
AUTH_JWT_SECRET="replace-with-a-long-random-secret"
AUTH_PASSWORD_SECRET="replace-with-a-long-random-pepper"
AUTH_DEMO_ADMIN_EMAIL="admin@example.com"
AUTH_DEMO_ADMIN_PASSWORD="admin"
NEXT_PUBLIC_DASHBOARD_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_MFE_BASE_DOMAIN=""
NEXT_PUBLIC_REMOTE_ABOUT_URL="http://localhost:4101/remote-entry.js"
NEXT_PUBLIC_REMOTE_PRODUCTS_URL="http://localhost:4102/remote-entry.js"
NEXT_PUBLIC_REMOTE_PRICES_URL="http://localhost:4103/remote-entry.js"